
.info {
	height: 180px;
	padding: 15px;
	background-color: #2C3E50;
}
.info-trans {
	height: 180px;
	padding: 15px;
	background-color: transparent;	
}

.info h4, .info h5 {
	padding: 0; margin: 0;
}
.info h4 {
	color: #2ECC71;
	font-weight: 600;
	padding: 10px 0;
	font-size: 38px;
	position: absolute;
	width: 100%;
	bottom: 68px;
	left: 0;
}
.info h5 {
	color: #16A085;
	font-weight: 300;
	font-size: 1em;
}
.info .abajo {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 30px;
}
.abajo p {
	color: #7F8C8D;
	font-size: 14px;
	font-weight: 300;
	padding-top: 4px;
	border-top: 1px solid #34495E;
}

.arriba-1 {
	padding: 10px;
}
.headersote{
	height: 100px;
}
.bajar {
	background-color: #95A5A6;
	padding: 15px 15px;
}
.bajar h5 {
	color: #fff;
	margin: 0;
}

.bajar-item {
	background-color: #7F8C8D;
	padding: 15px 15px;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #ebedef;
}

.bajar-item .bajar-link, .bajar-item .bajar-ver  {
	position: absolute;
	top:0;
	z-index: 99;
	padding:15px;
	color: #fff;
}
.bajar-link { right: 0px; background-color: #1ABC9C;}
.bajar-ver { right: 42px; background-color: #7F8C8D !important;}

.bajar-item h5 {
	font-size:16px;
	color: #fff;
	margin: 0;
}

footer {
	margin-top: 80px;
	background-color: #fff;
}
.row-spacer {
	margin-bottom: 35px;
}
.nav-tabs > li, .nav-pills > li {
	float:none;
	display:inline-block;
	*display:inline; /* ie7 fix */
	 zoom:1; /* hasLayout ie7 trigger */
	 
}
.nav-tabs, .nav-pills {
    text-align:center;
}
.tab-content {
	padding: 20px 0 20px 0;
}


/*
para el estilo del item
*/
.post-item{
	background-color: #2C3E50;
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
}
.post-item .detalle {
	padding: 15px;
}
.post-item .detalle p {
	font-size: 12px;
	color: #fff;
}
.post-item .detalle h4 {
	color: #fff;
	font-size: 19px;
	font-weight: 300;
}

.post-item .overlay {
	display: none;
	font-size: 25pt;
	z-index: 999;
	background-color: #16A085;
	position: absolute;
	top:0; left: 0;
	width: 304px;
	height: 304px;
}

.estudios {
	background-color: #2C3E50;
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	padding: 20px;
	height: 160px;
}
.detalle-estudios h4 {
	color: #fff;
	font-size: 18px;
	padding:0;
	margin: 0;
	font-weight: 300;
}
.link-estudios {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #16A085;
	color: #fff;
	width: 100%;
}
.link-estudios:hover {
	background-color: #1ABC9C;
}
.link-estudios a {
	color: #fff;
	padding: 12px;
	font-size: 25px;
}

.post-item .overlay .ver {
	position: absolute;
	top:130px;
	left:130px;
	font-size: 40pt;
	color: #fff;
}
.post-item .overlay .ver:hover {
	color: #eee;
}
.container {
	width: 1000px;
	max-width: 1000px;
}

.navbar-brand {
	font-size: 20px;
}

.container-fluid {
	padding-left: 0px;
}

.titulo {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #BDC3C7;
	color: #22B35A;
	background-color: #fff;
}
.titulo h4 {
	padding: 0;
	margin: 0;
}

.footer-content {
	margin-top: 40px;
	border-top: 1px solid #eee;
}
.footer-info {
	padding: 25px;
	font-size: 10px;
}
footer a {
	font-weight: 500 !important;
}

body {
	    background-color: #ebedef !important;
}

.main {
	padding-top: 30px;
}

.actions {
	overflow: hidden;
}
.social {
	padding: 15px;
	font-size: 35px;
	background-color: #2980B9;
	color: #fff;
}
.social:hover {
	color: #fff;
	background-color: #3498DB;
}

.spacer-2x {
	margin-bottom: 80px;
}


/* para los indicadores, diferentes estilos */
.nav-tabs {
	border-bottom: 1px solid #1ABC9C;
}
.nav-tabs > li > a {
	border-radius: 0 !important;
}
.nav-tabs > li > a:hover {
  border-color: #16A085 #16A085 #16A085;
  background-color: #16A085;
  color: #fff;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #1ABC9C;
	border: 1px solid #1ABC9C;
	color: #fff;
}

